/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global */
body {
  font-family: Arial, sans-serif;
  font-size: 32px;
  color: #fff;
  text-shadow: 0 0 10px #000;
  background-color: #000;
}

button {
  font-size: 32px;
  color: #fff;
  text-shadow: 0 0 10px #000;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 32px;
}

.container {
  width: 1920px;
  height: 1080px;
  position: relative;
  background-image: url('assets/scene.jpg');
  background-size: 100% 100%;
}

#climber {
  position: absolute;
  top: 800px;
  left: 400px;
  width: 140px;
  height: 260px;
  transition: transform 1s ease-in-out;
}

.status {
  position: absolute;
  bottom: 32px;
  right: 32px;
  text-align: right;
}

#devices {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  transform: scale(0.5);
  transform-origin: top left;
}

#devices .device {
    margin-bottom: 32px;
}

#devices .device img {
  transition: transform 0.125s ease-in-out;
}

#devices .device.pressed img {
  transform: scale(1.5);
}

#devices .device img {
  width: 256px;
  height: 256px;
  transform: scale(1.25);
}

#devices .device p {
  color: #fff;
  text-align: center;
  font-weight: bold;
}

body .game-won {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(0.25);
  transition: all 1s ease-in-out;
}

body.game-won .game-won {
  opacity: 1;
  transform: scale(1);
}